* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  color: #fff;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: center 180px;
  background-color: #f2e0f6;
  padding: 20px 0 0 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: auto;
}

img {
  width: 200px;
  height: 143px;
  border-radius:10px 10px 0 0;
}

p{
  font-size: 16px;
}

p,
h3 {
  text-align: center;
  font-family: cursive;
}