.details-wrapper {
     /* width: 100%; */
     height: auto;
     border: solid 2px;
     background-color: #defce1;
     padding: 20px 20px 31px 21px;
}
.details-h1{
  margin: 0 0 0 68px;
}

.title-name{
  font-size: 20px;
  font-weight: bold;
  margin: 7px 0 0 10px;
}

.information{
  margin: 7px 0 0 10px;
}