.card-wrapper {
  width: 306px;
    height: 160px;
    background-color: #ffbda0;
    border: 2px solid #db7348;
    font-size: 23px;
    color: red;
    margin: 5px 5px 5px 5px;
    padding: 13px 0px 0 24px;
}

.card-item {
display: flex;
align-items: center;
}

.description-item {
  color:brown;
  font-size: 20px;
  margin-right: 10px;
}